In [136]:
import pandas as pd

df_m=pd.read_csv("../../BW Python/melluso.csv")

In [137]:
df_m= df_m.replace("Décolleté", "Dècolletè")
df_m= df_m.replace("Infradita", "Infradito")
df_m= df_m.replace("Scarpa", "Sneakers")

In [138]:
df_l=pd.read_csv("../../BW Python/lumberjack.csv")
df_l.columns=["Nome","Modello", "Prezzo"]

In [139]:
df_l= df_l.replace("Scarpa", "Sneakers")
df_l = df_l.replace("Sneaker", "Sneakers")
df_l = df_l.replace("Green boat shoes", "Scarpe da barca")
df_l= df_l.replace("Sandali", "Sandalo")

In [140]:
prezzi_m=df_m.groupby("Modello")["Prezzo"].describe()

In [141]:
prezzi_m["Brand"] = "Melluso"

In [142]:
prezzi_l["Brand"] = "Lumberjack"

In [143]:
prezzi_l=df_l.groupby("Modello")["Prezzo"].describe()

In [144]:
prezzi_l = prezzi_l.loc[:"mean"].round(2)

In [145]:
prezzi_l["Brand"] = "Lumberjack"
prezzi_l

,count,mean,std,min,25%,50%,75%,max,Brand
Modello,,,,,,,,,
Sandalo,56.0,58.17,10.47,39.99,49.99,59.99,69.99,74.99,Lumberjack
Scarpe da barca,10.0,85.99,2.11,84.99,84.99,84.99,84.99,89.99,Lumberjack
Scarpe da ginnastica,7.0,46.42,8.02,39.99,39.99,39.99,54.99,54.99,Lumberjack
Slip on,3.0,43.32,5.77,39.99,39.99,39.99,44.99,49.99,Lumberjack
Sneakers,85.0,60.99,17.56,34.99,39.99,59.99,69.99,89.99,Lumberjack

In [146]:
prezzi_m = prezzi_m.loc[:"mean"].round(2)
prezzi_m

             count    mean    std   min     25%    50%    75%    max    Brand
Modello
Ciabatta      34.0   96.19  25.33  59.9   82.40   89.9  119.0  139.9  Melluso
Dècolletè     76.0  149.36  14.61  89.9  139.90  149.9  159.9  189.9  Melluso
Espadrillas    4.0   79.90   0.00  79.9   79.90   79.9   79.9   79.9  Melluso
Infradito      8.0   89.90   0.00  89.9   89.90   89.9   89.9   89.9  Melluso
Mocassino     18.0  122.63  21.35  89.9  104.90  119.9  129.9  159.9  Melluso
Sandalo      123.0  121.19  26.42  79.9   89.90  129.0  139.9  169.9  Melluso
Sneakers      36.0  137.41  25.87  89.9  118.68  149.9  159.9  169.9  Melluso

In [147]:
Confronto= pd.concat([prezzi_m, prezzi_l])

In [148]:
Confronto

,count,mean,std,min,25%,50%,75%,max,Brand
Modello,,,,,,,,,
Ciabatta,34.0,96.19,25.33,59.90,82.40,89.90,119.00,139.90,Melluso
Dècolletè,76.0,149.36,14.61,89.90,139.90,149.90,159.90,189.90,Melluso
Espadrillas,4.0,79.90,0.00,79.90,79.90,79.90,79.90,79.90,Melluso
Infradito,8.0,89.90,0.00,89.90,89.90,89.90,89.90,89.90,Melluso
Mocassino,18.0,122.63,21.35,89.90,104.90,119.90,129.90,159.90,Melluso
Sandalo,123.0,121.19,26.42,79.90,89.90,129.00,139.90,169.90,Melluso
Sneakers,36.0,137.41,25.87,89.90,118.68,149.90,159.90,169.90,Melluso
Sandalo,56.0,58.17,10.47,39.99,49.99,59.99,69.99,74.99,Lumberjack
Scarpe da barca,10.0,85.99,2.11,84.99,84.99,84.99,84.99,89.99,Lumberjack
Scarpe da ginnastica,7.0,46.42,8.02,39.99,39.99,39.99,54.99,54.99,Lumberjack
Slip on,3.0,43.32,5.77,39.99,39.99,39.99,44.99,49.99,Lumberjack
Sneakers,85.0,60.99,17.56,34.99,39.99,59.99,69.99,89.99,Lumberjack

In [168]:
Confronto.reset_index(inplace=True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [165]:

Confronto

In [156]:
import seaborn as sns

In [ ]:
Confronto.plot(x="Brand", y="index", kind="hist")